<h1><%= view.pathFromApp %></h1>
<ul>
  <% for(i = 0; i < 5; i++) { %>
    <li> el valor es: <%= i %></li>
  <% } %>
</ul>

<div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
