<h1>Nuevo Alumno</h1>

<form action="/addAlumno" method=post">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre">
  <br>
  <label for="apellido">Apellido</label>
  <input type="text" name="apellido">
  <br>
  <label for="dni">DNI</label>
  <input type="text" name="dni">
  <br>
  <label for="edad">Edad</label>
  <input type="number" name="edad">
  <br>
  <input type="submit" value="Agregar">
</form>
