<h1>Alumnos:</h1>
<h3>Buscar</h3>
<form action="/buscarAlumno" method="get" style="width: 50%; margin:auto;">
  <a href="/addAlumno" class="btn-info btn">Agregar alumno</a>
  <label for="nombre">Buscar</label>
  <input type="text" name="nombre">
</form>
<table id="alumno" class="table table-striped table-hover" style="width: 50%; margin:auto;">

  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
  </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < a.length; i++) { %>
  <tr>
    <td><%= a[i].nombre %></td>
    <td><%= a[i].apellido %></td>
    <td><a href="/Alumno/<%= a[i].id %>" class="btn-info btn">
        <i class="fas fa-eye"></i>
      </a>

    </td>
  </tr>
  <% } %>
  </tbody>
</table>

